[submodule "googletest"]
	path = vendor/googletest
        url = git@github.com:jamieiles/googletest.git
[submodule "vendor/altera-jtag"]
	path = vendor/altera-jtag
	url = git@github.com:jamieiles/jtag.git
